@use 'variables' as *;

h5{
    font-family:$secondary-font;
    font-size: 2rem;
    text-transform: uppercase;
    color: $primary-color;
}

.last-section{
    background-color: $tertiary-color;

    button{
        padding: 0 15px;
        color: $primary-color;
        background-color: $secondary-color;
    }
}

p{
    color: $primary-color;
}

.lower-nav{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.update{
    display: flex;
    flex-direction: column;
    line-height: 0;
    margin-top: 30px;

    .email-address{
        width: 300px;
    }
}

.information{
    display: flex;
    flex-direction: column;
}

.section6{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

