@use 'variables' as *;

/* to remove the hamburger menu from tablet and desktop views */
@media (min-width:481px){
    label[for="toggle"] {
    display: none;
    }
    input[type="checkbox"]{
    display: none;
    }
}

// small screen/ipad view

@media (max-width:988px){

    .socials{
    margin-top: auto;
    }

    .box-1{
        flex-direction: column-reverse;
        align-items: center;
    }
    .box-2{
        flex-direction: column;
    }
    .box{
        width: 100%;
        margin-bottom: 10%;
    }
    .box-3{
        width: 80%;
        button{
            padding:10px;
            line-height: 15px;
            margin: 0 30%;
            font-size: 1.6rem;
        }
    }
    .box-6{
        width: 80%;
        align-self: center;
        button{
            padding:10px;
            line-height: 15px;
            margin: 0 30%;
            font-size: 1.6rem;
        }
    }
}

// mobile view 

@media (max-width:480px){

    body{
        font-size: 1.8rem;
    }

    header{
        height: 35vh;      
    }
// *** sliding menu reference from Intro to web dev course on advance selectors ***
    nav ul{
        display: flex;
        flex-direction: column;
        margin: 0 50px 0 0;
    }
    
    ul.sliding-menu{
        background-color:$tertiary-color;
        position: fixed;
        z-index: 10;
        width: 30%;
        left: -30%;
        top: 0;
        height: 30%;
        transition: all 0.5s;
    }
    ul.sliding-menu a{
        border-bottom: 1px solid $primary-color;
        display: inline-block;
        font-size:1.8rem;
        width: 90%;
        padding: 30px;
        transition: all 0.3s;
    }

    ul.sliding-menu a:hover,
    ul.sliding-menu a:focus{
        background:$quaternary-color;
    }

    input[type="checkbox"]:checked + ul.sliding-menu{
        left: 0;
    }

    input[type="checkbox"]{
        display: none;
    }

    label[for="toggle"]{
        position: fixed;
        top: 10px;
        right: 20px;
        color: $primary-color;
        z-index: 10;
        font-size: 3.5rem;
    }

    h1 {
        font-size: 6rem;
        line-height: 50px;
        align-items: flex-start;
    }

    h2{
        font-size: 4rem;
    }

    h3{
        font-size: 3.5rem;
        width: 100%;
        margin-left: auto;
    }
    h4{
        font-size:2.5rem;
        text-align: center;
    }

    .section-4 li{
        font-size: 3rem;
    }

    .socials{
        display: none;
    }

    .about-suzie{
        display: flex;
        flex-direction: column;
        margin-top: -70px;
        margin-bottom: -40px;

        .image-container{
            width: 100%;
        }

        .text-container{
            width:100%;
        }

        button{
            padding:10px;
            line-height: 15px;
            margin: 0 30%;
            font-size: 1.6rem;
        }

    }
    .gallery ul {
        justify-content: space-between;
        margin-bottom: -50px;
        li{
            flex-basis: 48%;
        }
        .image-3{
            display: none;
        }
    }

    .flex-section4{
        flex-direction: column;
        ul{
            align-self: center;
            margin-bottom: 10%;
        }
        .merch{
            margin-bottom:0;
        }
    }

    .box-1{
        flex-direction: column-reverse;
        align-items: center;
    }
    .box-2{
        flex-direction: column;
    }
    .box{
        width: 100%;
        margin-bottom: 10%;
    }
    .box-3{
        width: 80%;
        button{
            padding:10px;
            line-height: 15px;
            margin: 0 30%;
            font-size: 1.6rem;
        }
    }
    .box-6{
        width: 80%;
        align-self: center;
        button{
            padding:10px;
            line-height: 15px;
            margin: 0 30%;
            font-size: 1.6rem;
        }
    }

    .section6{
        flex-direction: column;
        align-items: center;
        .lower-nav{
            flex-direction: row;
        }
        h5{
            text-align: center;
        }
        .update{
            align-items: center;
        }
        p{
            margin-bottom: 10%;
        }
        form{
            display: flex;
            flex-direction: column;
            button{
                margin-top: 10%;
            }
        }
        .contact{
            margin-bottom: 0;
        }
        .information li{
            text-align: center;
        }
    }
}

