@use 'variables' as *;

/* to remove the hamburger menu from tablet and desktop views */
@media (max-width:1400px){
    label[for="toggle"] {
    display: none;
    }

    input[type="checkbox"]{
    display: none;
    }
}

// ipad view

@media (max-width:810px){

}

// mobile view 

@media (max-width:480px){

    body{
        font-size: 1.6rem;
    }
    header{
        height: 75vh;      
    }
    h1 {
        font-size: 6rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 4rem;
        width: 100%;
        margin-left: auto;
    }
    h4{
        font-size:2.5rem;
        text-align: center;
    }
    .title{
        align-self: flex-start;
        text-align: left;
    }
    .socials{
        display: none;
    }
    .about-suzie{
        display: flex;
        flex-direction: column;
        margin-top: -70px;
        margin-bottom: -40px;

        .image-container{
            width: 100%;
        }

        .text-container{
            width:100%;
        }

        button{
            padding:10px;
            line-height: 15px;
            margin: 0 30%;
            font-size: 1.6rem;
        }
    }
    .gallery ul {
        justify-content: space-between;
        margin-bottom: -50px;
        li{
            flex-basis: 48%;
        }
        .image-3{
            display: none;
        }
    }

    .flex-section4{
        flex-direction: column;
        ul{
            margin-bottom: 15%;
            margin-left: 10%;
        }
      .events {
            margin-left: 35%;
        }
      .merch{
        margin-left: 35%;
        margin-bottom: 0;
      }
       
    }
    .box-1{
        flex-direction: column-reverse;
        align-items: center;
    }
    .box-2{
        flex-direction: column;
    }
    .box{
        width: 100%;
        margin-bottom: 10%;
    }
    .box-3{
        width: 80%;
        button{
            padding:10px;
            line-height: 15px;
            margin: 0 30%;
            font-size: 1.6rem;
        }
    }
    .box-6{
        width: 80%;
        align-self: center;
        button{
            padding:10px;
            line-height: 15px;
            margin: 0 30%;
            font-size: 1.6rem;
        }
    }

    .section6{
        flex-direction: column;
        align-items: center;
        .lower-nav{
            flex-direction: row;
        }
        h5{
            text-align: center;
        }
        .update{
            align-items: center;
        }
        p{
            margin-bottom: 10%;
        }
        form{
            display: flex;
            flex-direction: column;
            button{
                margin-top: 10%;
            }
        }
        .contact{
            margin-bottom: 0;
        }
        .information li{
            text-align: center;
        }
    }

 



}

