@use 'variables' as *;


.section-4 {
    background-color:$tertiary-color;
    font-family: $secondary-font;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 100px 0;
}

.flex-section4{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.animal-spotlight {
    flex-direction: column;
    
    li{
        display: flex;
    flex-direction: column;
    }
}

.events {
    flex-direction: column;
}

.merch {
    flex-direction: column;
}

i {
    margin-bottom: 45px;
    align-self: center;
}

