$base-font:'Roboto',sans-serif;
$heading-font: 'Fredericka the Great',cursive;
$secondary-font:'Cormorant Garamond',serif;

$primary-color:#FCFCFC;
$secondary-color:#000000;
$tertiary-color:#152D20;
$quaternary-color:#C3d3CB

